@import url('https://fonts.googleapis.com/css?family=Raleway');


p{
	color: #8c9ec8;
	font-family: 'Raleway', sans-serif; 
}

#heading {
	color: #B0C6FB;
	font-family: 'Raleway', sans-serif; 
}
#Meow {
	color: #B0C6FB;
	font-family: 'Raleway', sans-serif; 
}
#lol {
	color: #B0C6FB;
	font-family: 'Raleway', sans-serif; 
}
}

.wow {
	color: #B0C6FB;
	font-family: 'Raleway', sans-serif;
}

a{
	color:#B0C6FB;
}

a:visited {
	color: #B0C6FB;
}
